.whyus_cont
{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.whyus_heading
{
    font-family: "Poppins", serif;
    font-weight: 700px;
    font-size: 18px;
}
.whyus_detail ul
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 400;
}